AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=bank-airflow:3.3.0
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow
REDIS_PASSWORD=change_me
FERNET_KEY=replace_me
AIRFLOW_JWT_SECRET=replace_me
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change_me
DBT_HOST_PROJECT_DIR=/home/support/airflow/dbt
DBT_LIVY_HOST=https://your-livy-host
DBT_LIVY_USER=your_user
DBT_LIVY_PASSWORD=change_me
